<!DOCTYPE html>
<html>



  <head>
    <title>hey</title>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/site.css">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/Semantic-UI-CSS-master/semantic.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

  </head>

    <!-- <script type="text/javascript" src="bundle.js"></script> -->
    <h1>jewel posniak</h1>

  <body>
      <div class="ui center aligned container">
          <i class="big inverted github icon" onclick="window.location.href='http://www.github.com/jewelposniak'"></i>
          <i class="big inverted linkedin icon" onclick="window.location.href='https://www.linkedin.com/in/jewel-posniak/'"></i>
      </div>


  </body>
    <script src="./public/stylesheets/Semantic-UI-CSS-master/semantic.js"></script>

 </html>
