<!DOCTYPE html>
<html>

  <head>
    <title>hey</title>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/site.css">
  </head>

    <!-- <script type="text/javascript" src="bundle.js"></script> -->

  <body>

    <div id="like_button_container"></div>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="./public/javascripts/like_button.js"></script>

  </body>

</html>